@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/open-sans-v20-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/open-sans-v20-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v20-latin-regular.woff2") format("woff2"), url("../fonts/open-sans-v20-latin-regular.woff") format("woff"), url("../fonts/open-sans-v20-latin-regular.ttf") format("truetype"), url("../fonts/open-sans-v20-latin-regular.svg#OpenSans") format("svg");
  /* Legacy iOS */ }

header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: -1; }

header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  background-color: white;
  z-index: 50; }
  header .in {
    position: relative;
    display: flex;
    height: 100px;
    max-width: 1220px;
    width: 100%;
    margin: auto;
    padding-inline: 15px;
    align-items: center; }
    header .in img {
      margin: auto auto auto 0; }
    header .in .burger {
      display: none; }
    header .in #menu {
      margin: auto 0 auto auto; }
      header .in #menu ul {
        display: flex;
        list-style-type: none; }
        header .in #menu ul a {
          color: #767676;
          text-decoration: none;
          padding: 10px 15px; }
        header .in #menu ul a:hover {
          color: #337ab7;
          background: #eeeeee; }
        header .in #menu ul a.last {
          color: #ffffff;
          background: #337ab7;
          border-radius: 25px; }
        header .in #menu ul a.last:hover {
          color: #44c0ef;
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5); }

@media (max-width: 850px) {
  header .in {
    height: 75px; }
    header .in img {
      height: 60px;
      width: 60px; }
    header .in .burger {
      display: block;
      position: relative;
      width: 40px;
      height: 30px;
      cursor: pointer;
      background-color: #337ab7;
      border-radius: 3px; }
      header .in .burger span {
        background-color: white;
        position: absolute;
        width: 20px;
        height: 2px;
        right: 50%;
        top: 14px;
        transform: translate(50%, 50%); }
    header .in .burger:before,
    header .in .burger:after {
      content: '';
      background-color: white;
      position: absolute;
      width: 20px;
      height: 2px;
      right: 50%;
      transform: translate(50%, 50%); }
    header .in .burger:before {
      top: 8px; }
    header .in .burger:after {
      bottom: 8px; }
    header .in #menu {
      position: fixed;
      top: -150%;
      transition: all 0.3s ease 0s;
      left: 0;
      width: 100%;
      background-color: white;
      padding: 75px 0 0 0;
      z-index: -5; }
      header .in #menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 0; }
        header .in #menu ul li {
          padding: 15px; }
    header .in #menu.active {
      top: 0;
      transition: all 0.5s ease 0s; } }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin: 0; }
  body .first {
    background-color: #F7F7F7;
    width: 100%;
    padding-top: 150px; }
  body .first-content {
    display: flex;
    max-width: 1220px;
    margin: 0 auto;
    padding-inline: 15px;
    justify-content: space-between; }
    body .first-content .text {
      text-align: center;
      font-size: 18px;
      width: 50%;
      margin-right: 15px;
      color: #767676;
      margin-block: auto; }
      body .first-content .text p:first-child {
        font-weight: bold;
        font-size: 34px;
        color: black; }
    body .first-content #form {
      width: 50%;
      margin-left: 15px; }
    body .first-content form {
      display: flex;
      flex-direction: column; }
      body .first-content form p {
        font-size: 22px; }
      body .first-content form label:after {
        background-image: url("../foto/icons/required.png");
        background-size: 7px 7px;
        content: "";
        width: 10px;
        line-height: 1;
        display: inline-block;
        background-repeat: no-repeat;
        height: 8px;
        margin-left: 3px; }
    body .first-content .form {
      height: 40px;
      border: 1px solid #c3c3c3;
      border-radius: 5px;
      outline: 0;
      padding-inline: 10px; }
    body .first-content .form:focus {
      border: 1px solid #66afe9;
      box-shadow: 0 0 3px #66afe9; }
    body .first-content .pole {
      display: flex;
      flex-direction: column;
      margin-bottom: 15px; }
      body .first-content .pole label {
        margin-bottom: 5px; }
    body .first-content a {
      text-decoration: none;
      color: #3498db; }
    body .first-content .button {
      color: #ffffff;
      background: #337ab7;
      border-radius: 25px;
      text-align: center;
      overflow-wrap: anywhere;
      border: none;
      padding: 15px 100px;
      font-style: normal;
      margin: 20px auto; }
    body .first-content .button:hover {
      color: #44c0ef;
      box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5); }
  @media (max-width: 850px) {
    body .first {
      padding-top: 80px; }
    body .first-content {
      display: flex;
      flex-direction: column;
      align-items: center; }
      body .first-content .text {
        width: 100%;
        margin: 0; }
      body .first-content #form {
        width: 100%;
        margin: 0; }
        body .first-content #form p {
          text-align: center; }
        body .first-content #form .button {
          padding: 15px 50px; } }
  body .slick-list {
    overflow: hidden;
    width: 100%; }
  body .slick-track {
    display: flex;
    align-items: flex-start;
    margin: auto; }
  body .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    position: absolute;
    bottom: -10%;
    left: 50%;
    right: 50%; }
    body .slick-dots li {
      list-style: none;
      margin: 0 8px; }
    body .slick-dots li.slick-active button {
      opacity: 1; }
    body .slick-dots button {
      font-size: 0;
      width: 10px;
      height: 10px;
      background: #333;
      border: none;
      border-radius: 50%;
      opacity: 0.25;
      cursor: pointer;
      padding: 0; }
  body .second {
    padding-top: 20px;
    max-width: 1220px;
    margin: auto;
    min-width: 0; }
    body .second .title {
      font-size: 28px;
      text-align: center; }
    body .second #tre {
      display: flex;
      justify-content: center;
      min-width: 0;
      position: relative;
      margin-bottom: 60px; }
      body .second #tre .tre {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 30%;
        padding: 15px; }
        body .second #tre .tre .second-title {
          padding-bottom: 20px;
          border-bottom: 1px solid #3498db; }
  @media (max-width: 850px) {
    body .slick-list {
      width: 90%; } }
  @media (max-width: 600px) {
    body .slick-list {
      width: 90%; } }
  body .centr {
    background-color: #3498db;
    color: white;
    text-align: center;
    padding-block: 60px;
    width: 100%; }
    body .centr #fore {
      max-width: 1220px;
      width: 100%;
      margin: auto;
      display: flex; }
    body .centr .to-fore {
      display: flex;
      width: 50%; }
      body .centr .to-fore .fore {
        width: 50%; }
        body .centr .to-fore .fore .num {
          font-size: 28px;
          margin: 20px auto 10px auto; }
  @media (max-width: 850px) {
    body .centr #fore {
      flex-direction: column; }
      body .centr #fore .to-fore {
        width: 100%; } }
  body .title {
    font-size: 28px;
    text-align: center; }
  body .slider {
    min-height: 300px;
    max-width: 920px;
    position: relative;
    margin: auto;
    z-index: 1; }
    body .slider .slick-dots {
      bottom: 0; }
    body .slider .slick-list {
      margin: auto;
      height: 100%; }
    body .slider .sd-elem {
      text-align: center;
      color: #767676; }
      body .slider .sd-elem .sitate {
        display: flex;
        align-items: flex-start; }
      body .slider .sd-elem .lass {
        transform: rotate(180deg);
        align-self: flex-end; }
      body .slider .sd-elem .sitate:last-child {
        align-items: flex-end; }
      body .slider .sd-elem .aut p {
        margin: 0; }
      body .slider .sd-elem .aut p:first-child {
        color: black; }
      body .slider .sd-elem .aut p:last-child {
        font-style: italic;
        color: #c3c3c3; }
    body .slider .slick-dots {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      position: relative;
      bottom: -20%;
      left: 50%;
      right: 50%;
      transform: translate(-50%, 0); }
      body .slider .slick-dots .buttons {
        position: absolute;
        top: 80%;
        padding: 20px; }
        body .slider .slick-dots .buttons .but {
          display: inline-block;
          width: 10px;
          height: 10px;
          margin: 0 8px;
          background: #333;
          border-radius: 50%;
          filter: alpha(opacity=25);
          opacity: 0.25;
          cursor: pointer; }
  body .to-wid {
    z-index: 2;
    background-color: #F7F7F7;
    padding-block: 20px; }
    body .to-wid p {
      margin-bottom: 200px; }
    body .to-wid #wideo {
      padding-inline: 10%;
      max-width: 1020px;
      margin: auto; }
      body .to-wid #wideo .wideo {
        position: relative;
        padding-bottom: 50%;
        margin: auto; }
        body .to-wid #wideo .wideo iframe {
          position: absolute;
          top: 0;
          left: 50%;
          transform: translate(-50%, 0);
          max-width: 1020px;
          width: 100%;
          height: 100%;
          max-height: 480px;
          /* Get aspect ratio */ }
  body .to-slider .slick-dots {
    bottom: 10px; }
  body .to-slider .title {
    margin-bottom: 0; }
  body .to-slider .slider-mentors {
    margin: auto;
    z-index: 1;
    max-width: 1220px;
    position: relative; }
    body .to-slider .slider-mentors .mentors {
      display: flex;
      align-items: flex-start; }
      body .to-slider .slider-mentors .mentors .foto {
        padding: 10px;
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: flex-start; }
        body .to-slider .slider-mentors .mentors .foto img {
          width: 70%;
          max-width: 100%;
          height: auto; }
      body .to-slider .slider-mentors .mentors .text-ment {
        padding: 30px;
        width: 60%; }
        body .to-slider .slider-mentors .mentors .text-ment .titl {
          color: #3498db;
          padding-bottom: 15px;
          font-size: 20px;
          font-weight: bold;
          border-bottom: 1px solid #F7F7F7; }
        body .to-slider .slider-mentors .mentors .text-ment .texter {
          padding-block: 30px; }
          body .to-slider .slider-mentors .mentors .text-ment .texter p {
            margin: 0 0 10px 0;
            color: #888; }
  @media (max-width: 850px) {
    body .slider-mentors .slick-list {
      margin: auto;
      width: 100%; }
      body .slider-mentors .slick-list .slick-track {
        align-items: center;
        justify-content: center; }
      body .slider-mentors .slick-list .mentors {
        flex-direction: column;
        text-align: center; }
        body .slider-mentors .slick-list .mentors .foto {
          margin: auto;
          width: 60%;
          padding: 0; }
        body .slider-mentors .slick-list .mentors .text-ment {
          margin: auto;
          width: 90%;
          padding-inline: 0;
          padding-block: 20px; }
          body .slider-mentors .slick-list .mentors .text-ment .titl {
            padding: 0; } }

/*# sourceMappingURL=style.css.map */
