@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/OpenSans-Regular.ttf'); /* IE9 Compat Modes */
}
@font-face {
  font-family: 'Open Sans';
  font-weight: 800;
  src: url('../fonts/OpenSans-Bold.ttf'); /* IE9 Compat Modes */
}
@font-face {
  font-family: 'Open Sans';
  font-weight: 200;
  src: url('../fonts/OpenSans-Light.ttf'); /* IE9 Compat Modes */
}
header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: -1;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  background-color: white;
  z-index: 50;
  .in {
    position: relative;
    display: flex;
    height: 100px;
    max-width: 1220px;
    width: 100%;
    margin: auto;
    padding-inline: 15px;
    align-items: center;
    img {
      margin: auto auto auto 0;
      width: 75px;
      height: auto;
    }
    .burger {display: none;}

    #menu {
      margin: auto 0 auto auto;
      //top: 1px;
      ul {
        display: flex;
        list-style-type: none;
        //flex-wrap: wrap;
        li {

        }
        a {
          color: #767676;
          text-decoration: none;
          padding: 10px 15px;
        }
        a:hover {
          color: #337ab7;
          background: #eeeeee;
        }
        a.last {
          color: #ffffff;
          background: #337ab7;
          border-radius: 25px;
        }
        a.last:hover {
          color: #44c0ef;
          box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
        }
      }
    }
  }
}
@media (max-width: 850px) {
  header {
  .in {
    img {
      height: 60px;
      width: 60px;
    }
    height: 75px;
    .burger {
      display: block;
      position: relative;
      width: 40px;
      height: 30px;
      cursor: pointer;
      background-color: #337ab7;
      border-radius: 3px;
      span {
        background-color: white;
        position: absolute;
        width: 20px;
        height: 2px;
        right: 50%;
        top: 14px;
        transform: translate(50%,50%);
      }
    }
    .burger:before,
    .burger:after {
      content: '';
      background-color: white;
      position: absolute;
      width: 20px;
      height: 2px;
      right: 50%;
      transform: translate(50%,50%);
    }
    .burger:before {top: 8px}
    .burger:after {bottom: 8px}

    #menu {
      position: fixed;
      top: -150%;
      transition: all 0.3s ease 0s;
      left: 0;
      width: 100%;
      background-color: white;
      padding: 75px 0 0 0;
      z-index: -5;
      ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 0;
        li {
          padding: 15px;
        }
      }
    }
    #menu.active {
      top: 0;
      transition: all 0.5s ease 0s;
    }
  }}}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
  font-weight: 200;
  .on-navig {
    position: relative;
    .navig {
      position: absolute;
      top: -100px;
    }
  }
  @media (max-width: 850px) {
    .on-navig {
    .navig {
      top: -75px;
    }
  }}
  .first {
    background-color: #F7F7F7;
    width: 100%;
    padding-top: 120px;
  }
  .first-content {
    display: flex;
    max-width: 1220px;
    margin: 0 auto;
    padding-inline: 15px;
    justify-content: space-between;
    .text {
      text-align: center;
      font-size: 18px;
      width: 50%;
      margin-right: 15px;
      color: #767676;
      margin-block: auto;
      p:first-child {
        font-weight: 800;
        font-size: 34px;
        color: #333333;
      }
    }
    @media (max-width: 850px) {
      .text {
        font-size: 14px;
        p:first-child {
          font-size: 24px;
        }
      }
    }
    #form {
      width: 50%;
      margin-left: 15px;
      .politic {
        display: flex;
        align-items: center;
      }
    }
    form {
      display: flex;
      flex-direction: column;
      p {
        font-size: 20px;
        font-weight: 800;
        color: #333333;
      }
      label {
        font-size: 14px;
        color: #666;
      }
      label:after {
        background-image: url("../foto/icons/required.png");
        background-size: 7px 7px;
        content: "";
        width: 10px;
        line-height: 1;
        display: inline-block;
        background-repeat: no-repeat;
        height: 8px;
        margin-left: 3px;
      }
    }
    .form {
      height: 40px;
      border: 1px solid #c3c3c3;
      border-radius: 5px;
      outline: 0;
      padding-inline: 10px;
    }
    .form:focus {
      border: 1px solid #66afe9;
      box-shadow: 0 0 3px #66afe9;
    }
    .pole {
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;
      label {
        margin-bottom: 5px;
      }
    }
    a {text-decoration: none; color: #3498db}
    .button {
      color: #ffffff;
      background: #337ab7;
      border-radius: 25px;
      text-align: center;
      overflow-wrap: anywhere;
      border: none;
      padding: 15px 100px;
      font-style: normal;
      margin: 20px auto;
    }
    .button:hover {
      color: #44c0ef;
      box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    }
  }
  @media (max-width: 850px) {
    .first {padding-top: 80px}
    .first-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      .text {
        width: 100%;
        margin: 0;
      }
      #form {
        width: 100%;
        margin: 0;
        p {
          text-align: center;
        }
        .button {
          padding: 15px 50px;
        }
      }
    }
  }
  .slick-list {
    overflow: hidden;
    width: 100%;
  }
  .slick-track {
    display: flex;
    align-items: flex-start;
    margin: auto;
  }
  .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    position: absolute;
    bottom: -10%;
    left: 50%;
    right: 50%;
    [aria-label="1 of 1"]{
      display: none;
    }
    li {
      list-style: none;
      margin: 0 8px;
    }
    li.slick-active button {
      opacity: 1;
    }
    button {
      font-size: 0;
      width: 10px;
      height: 10px;
      background: #333;
      border: none;
      border-radius: 50%;
      opacity: 0.25;
      cursor: pointer;
      padding: 0;
    }
  }
  .second {
    padding-top: 20px;
    max-width: 1220px;
    margin: auto;
    min-width: 0;
    .title {
      font-size: 28px;
      text-align: center;
      font-weight: 400;
    }
    #tre {
      display: flex;
      justify-content: center;
      min-width: 0;
      position: relative;
      margin-bottom: 60px;
    .tre {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 30%;
      padding: 15px;
      .second-title {
        padding-bottom: 20px;
        border-bottom: 1px solid #3498db;
        font-size: 24px;
        font-weight: 400;
        color: #666;
        margin-bottom: 0;
        line-height: 1;
      }
      p {
        color: #888;
      }
    }
  }}
  @media (max-width: 850px) {
    .slick-list {
      width: 90%;
    }
    .second {
    #tre {
      .tre {
    .second-title {
       padding-bottom: 10px;
     }}}}
  }

  .centr {
    background-color: #3498db;
    color: white;
    text-align: center;
    padding-block: 60px;
    width: 100%;
    #fore {
      max-width: 1220px;
      width: 100%;
      margin: auto;
      display: flex;
    }
    .to-fore {
      display: flex;
      width: 50%;
    .fore {
      width: 50%;
      .num {
        font-size: 28px;
        font-weight: 400;
        margin: 20px auto 10px auto;
      }
    }
    }
  }
  @media (max-width: 850px) {
    .centr {
      padding-block: 20px;
      #fore {
        flex-direction: column;
        .to-fore {
          width: 100%;
        }
      }
    }
  }
  @media (max-width: 600px) {
    .centr {
      #fore {
      .num {
        font-size: 16px;
        margin: auto;
      }
      p {
        font-size: 12px;
      }
    }}
  }
  .title {
     font-size: 28px;
    font-weight: 400;
     text-align: center;
    color: #333333;
   }
  .slider {
    min-height: 300px;
    max-width: 920px;
    position: relative;
    margin: auto;
    z-index: 1;
    .slick-dots {
      bottom: 0;
    }
    .slick-list {
      margin: auto;
      height: 100%;
    }
    .sd-elem {
      text-align: center;
      color: #767676;
      .sitate {
        display: flex;
        align-items: flex-start;
        font-size: 22px;
      }
      @media (max-width: 600px) {
        .sitate {
          p {
            margin: 0;
            font-size: 16px;
          }
          img {
            width: 20px;
            height: auto;
            margin-inline: 5px;
          }
      }
        .aut {
         p:first-child {
           margin-top: 15px;
         }
       }}
      .lass {
         transform:rotate(180deg);
        align-self: flex-end;
       }
      .sitate:last-child {
        align-items: flex-end;
      }
      .aut {
        p{
          margin: 0;
        }
        p:first-child {
          color: black;
        }
        p:last-child {
          font-style: italic;
          font-size: 14px;
          color: #c3c3c3;
        }
      }

    }
    .slick-dots {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      position: relative;
      bottom: -20%;
      left: 50%;
      right: 50%;
      transform: translate(-50%, 0);
    .buttons {
      position: absolute;
      top: 80%;
      padding: 20px;
      .but {
        display: inline-block;
        width: 10px;
        height: 10px;
        margin: 0 8px;
        background: #333;
        border-radius: 50%;
        filter: alpha(opacity=25);
        opacity: 0.25;
        cursor: pointer;
      }
    }
  }}
  .to-wid {
    z-index: 2;
    background-color: #F7F7F7;
    padding-top: 20px;
    padding-bottom: 65px;
    p {
      margin-bottom: 200px;
    }
    #wideo {
      padding-inline: 10%;
      max-width: 1020px;
      margin: auto;
      .wideo {
        position: relative;
        padding-bottom: 50%;
        margin: auto;
        iframe {
          position: absolute;
          //padding-bottom: 56.25%;
          top: 0;
          left: 50%;
          transform: translate(-50%, 0);
          max-width: 1020px;
          width: 100%;
          height: 100%;
          max-height: 480px;
        }
      }
    }
  }
  .to-slider {
    .slick-dots {
      bottom: 10px;
      padding-bottom: 15px;
    }
    .title {
      margin-bottom: 0;
    }
    .slider-mentors {
      margin: auto;
      z-index: 1;
      max-width: 1220px;
      position: relative;
      .mentors {
        display: flex;
        align-items: flex-start;
        .foto {
          padding: 10px;
          width: 40%;
          display: flex;
          justify-content: center;
          align-items: flex-start;
          img {
            width: 70%;
            max-width: 100%;
            height: auto;
          }
        }
        .text-ment {
          padding: 30px;
          width: 60%;
          .titl {
            color: #3498db;
            padding-bottom: 15px;
            font-size: 20px;
            font-weight: 800;
            border-bottom: 1px solid #F7F7F7;
          }
          .texter {
            padding-block: 30px;
            p {
              margin: 0 0 10px 0;
              color: #888;
            }
          }
        }
      }
    }
  }
  @media (max-width: 850px) {
    .slider-mentors {
      .slick-dots {
        padding-bottom: 0;
      }
      .slick-list {
        margin: auto;
        width: 100%;
        .slick-track {
          align-items: flex-start;
          justify-content: center;
      }
    .mentors {
      flex-direction: column;
      text-align: center;
      .foto {
        margin: auto;
        width: 60%;
        padding: 0;
      }
      .text-ment {
        margin: auto;
        width: 90%;
        padding-inline: 0;
        padding-block: 20px;
        .titl {padding: 0}
      }
    }
  }
  }}
  .map {
    height: 400px;
    iframe {
      width: 100%;
      height: 400px;
    }
  }
  .contact {
    background-color: #3498db;
    color: white;
    text-align: center;
    padding-block: 60px;
    width: 100%;
    .in-contact {
      max-width: 1220px;
      width: 100%;
      margin: auto;
      display: flex;
    }
    .to-contact {
      display: flex;
      width: 50%;
      overflow-wrap: break-word;
      .cont {
        width: 50%;
        img {
          width: 50px;
          height: auto;
        }
        .name {
          margin: 20px auto 10px auto;
          font-weight: bold;
          font-size: 16px;
        }
        p {
          line-height: 1;
          font-size: 14px;
          a {
            text-decoration: none;
            color: white;
          }
          a:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  @media (max-width: 850px) {
    .contact {
      padding-block: 25px;
      .in-contact {
        flex-direction: column;
        .to-contact {
          width: 100%;
          padding-top: 10px;
          img {
            width: 35px;
            height: auto;
          }
          .name {
            margin: 5px auto 10px auto;
            font-size: 14px;
          }
          p {
            font-size: 12px;
          }
        }
      }
    }
  }
  .copyright {
    background-color: #F7F7F7;
    text-align: center;
    height: 100%;
    width: 100%;
    padding-block: 40px;
    font-size: 14px;
    p {
      color: #337ab7;
    }
    a {
      text-decoration: none;
      color: #666;
    }
    a:hover {
      text-decoration: underline;
    }
  }
  @media (max-width: 850px) {
    .copyright {
      padding-block: 20px;
    }
  }
}



