@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

@import "node_modules/bootstrap/scss/images";
@import "node_modules/bootstrap/scss/grid";

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/SourceSansPro-Regular.ttf');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 600;
  src: url('../fonts/SourceSansPro-SemiBold.ttf');
}
@font-face {
  font-family: 'Quicksand';
  font-weight: 700;
  src: url('../fonts/Quicksand-VariableFont_wght.ttf');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 800;
  src: url('../fonts/SourceSansPro-Bold.ttf');
}
@font-face {
  font-family: 'Source Sans Pro - It';
  font-style: italic;
  src: url('../fonts/SourceSansPro-Italic.ttf');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 300;
  src: url('../fonts/SourceSansPro-Light.ttf');
}

@mixin text($standart1) {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: normal;
  color: #999999;
}


body {
  margin: auto;
  //width: 1440px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  //height: 5500px;
  position: relative;
}
header {
  margin: auto;
  //width: 1440px;
  height: 640px;
  background: url("../img/bg_806.png") 100% 100% no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  .menus {
    padding-top: 35px;
  }
  .logo {
    color: white;
    display: flex;
    align-items: center;
    span {letter-spacing: 1px}
    p:first-child {
      font-family: 'Quicksand', sans-serif;
      font-size: 24px;
      //line-height: 58px;
      font-weight: 700;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #ffffff;
      padding-right: 4px;
      //margin-top: 1px;
    }
    p:last-child {
      opacity: 0.3;
      //font-family: 'Source Sans Pro';
      font-size: 9px;
      line-height: 10px;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 0.14em;
      color: #ffffff;
      margin-top: 2px;
    }
    p {
      margin: 0;
      padding-right: 10px;
    }
  }
  .right {
    margin: 3px 0 0 auto;
    .menu {
      display: flex;
      justify-content: flex-end;
      ul {
        list-style: none;
        display: flex;
        padding: 0;
        margin: 0;
        li {
          padding-left: 23.2px;
          //font-weight: 200;
          font-size: 16px;
          //line-height: 58px;
          font-weight: 600;
          color: #fffefe;
        }
        a {
          text-decoration: none;
          color: white;
          position: relative;
        }

        a:before, a:after {
           content: '';
          //color: #3082a8;
          width: 20px;
          height: 2px;
          //padding-inline: 2px;
          background-color: #3082a8;
          position: absolute;
          bottom: -11px;
          //right: 0;
          //left: 0;
          //transform: translate(0,-50%);
          opacity: 0;
         }
        a:after {
          right: 49%;
          margin-right: 1px;
        }
        a:before {
          left: 51%;
          margin-left: 1px;
        }
        a:hover::before, a:hover::after {
            opacity: 1;
        }
      }
    }
  }
  .row:nth-child(2) {
    padding-top: 56px;
  }
  .left-haed {
    align-self: flex-start;
    p:first-child {
      font-size: 14px;
      //line-height: 64px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 1.4px;
      color: #008ed6;
      margin-top: 37px;
      margin-bottom: 0;
    }
    p:nth-child(2) {
      font-size: 48px;
      line-height: 48px;
      font-weight: 600;
      text-transform: none;
      color: #ffffff;
      margin: 20px 0 0 0;
    }
    p:nth-child(3) {
      @include text(1);
      margin: 24px 0 0 0;
      width: 97%;
    }
    .buttons {
      display: flex;
      margin-top: 60px;
      .button {
        width: 160px;
        height: 50px;
        background-color: #008ed6;
        border-radius: 3px;
        //box-shadow: 0 0 3px 0 rgba(3,3,3,0.1);
        font-size: 14px;
        line-height: 50px;
        font-weight: 700;
        text-transform: uppercase;
        color: #ffffff;
        text-align: center;
        //letter-spacing: normal;
        margin-right: 20px;
        letter-spacing: 0.2px;
        a {
          color: #ffffff;
          text-decoration: none;
        }
      }
      .button:last-child {
        width: 160px - 2px;
        height: 50px - 2px;
        line-height: 49px;
        border: 1px solid rgba(255,255,255,0.2);
        background-color: rgba(0,142,214,0.0);
      }
      .button:hover {
        width: 160px;
        height: 50px;
        line-height: 50px;
        background-color: #008ed6;
        border: 0 solid rgba(255,255,255,0.2);
      }
    }
  }
  .foto {
    margin: auto 0 auto auto;
    padding-right: 6px;
  }
}

.overv {
  text-align: center;
  margin: 61px auto 0 auto;
  p {
    font-size: 14px;
    //line-height: 48px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #008ed6;
    margin: 0;
  }
  .wiz-line {
    font-size: 36px;
    font-weight: 600;
    text-transform: none;
    letter-spacing: normal;
    color: #1a1a1a;
    padding-top: 9px;
  }
  .wiz-line:before, .wiz-line:after {
    content: '';
    //color: #3082a8;
    width: 20px;
    height: 2px;
    //padding-inline: 2px;
    background-color: #3082a8;
    position: absolute;
    bottom: -35px;
    //right: 0;
    //left: 0;
    //transform: translate(-50%,0);
    //opacity: 0;
  }
  .wiz-line:after {
    right: 50%;
    margin-right: 1px;
  }
  .wiz-line:before {
    left: 50%;
    margin-left: 1px;
  }
}
.list {
  margin-top: 107px;
  padding-bottom: 70px;
  border-bottom: 1px solid #ededed;
  .list-id {
    margin: auto;
    text-align: center;
    //padding: 0;
    .labl {
      width: 90px;
      height: 90px;
      //background-color: #ffffff;
      border: 1px solid #e0e0e0;
      border-radius: 50%;
      display: flex;
      margin: auto;

      img {
        margin: auto;
      }
    }
  .some-text {
    margin-inline: -15px;
    p:first-child {
      font-size: 24px;
      font-weight: 400;
      color: #1a1a1a;
      margin: 26px 0 0 0;
    }
    p:last-child {
      font-size: 18px;
      line-height: 26px;
      color: #999999;
      margin: 10px 0 0 0;
    }
  }
  }
}

.details {
  .row {
    margin-left: 5px;
    margin-top: 66px;
  }
  .to-text {
    margin-left: 58px;
    margin-top: 49px;
    margin-bottom: 60px;
    p {
      margin: 0;
    }
    .bef-title {
      font-size: 14px;
      //line-height: 48px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      color: #008ed6;
    }
    .title {
      font-size: 36px;
      font-weight: 600;
      text-transform: none;
      letter-spacing: normal;
      color: #1a1a1a;
      position: relative;
      padding-top: 9px;
    }
      .title:before, .title:after {
        content: '';
        //color: #3082a8;
        width: 20px;
        height: 2px;
        //padding-inline: 2px;
        background-color: #3082a8;
        position: absolute;
        bottom: -26px;
        //right: 0;
        //left: 0;
        //transform: translate(100%,0);
        //opacity: 0;
      }
      .title:after {
        left: 0;
        margin-left: 22px;
      }
      .title:before {
        //left: 0;
        //margin-left: 1px;
      }

    .text {
      font-size: 18px;
      line-height: 26px;
      font-weight: 400;
      text-transform: none;
      letter-spacing: normal;
      color: #999999;
      padding-top: 51px;
      width: 98%;
    }
    .aft-text {
      padding-top: 25px;
        //display: flex;
        //padding-block: 7px;
        p {
          padding-inline: 26px;
          position: relative;
          font-size: 18px;
          line-height: 36px;
          font-weight: 400;
          text-transform: none;
          letter-spacing: normal;
          color: #1b1b1b;
        }
        p:before {
          content: url("../img/cup_881.png");
          //width: 16px;
          height: 16px;
          position: absolute;
          left: 8px;
          bottom: 10px;
          transform: translate(-50%,-50%);
        }
      p:nth-child(2):before {
        content: url("../img/mouse_885.png");
      }
      p:nth-child(3):before {
        content: url("../img/energy_882.png");
        height: 15px;
      }
      p:nth-child(4):before {
        content: url("../img/speedometer_883.png");
        height: 17px;
      }
    }
  }
  .column {
    margin-left: 0;
    margin-top: 16px;
    padding-top: 32px;
    padding-bottom: 16px;
    .to-text {
      margin-left: 0;
      padding: 0;
      margin-top: 95px;
    }
    .foto3 {
      padding: 0;
      margin-left: -22px;
      //overflow:hidden;
    }
    .title:before, .title:after {
      bottom: -28px;
    }
  }
}
@media (max-width: 1230px) {
  .foto3 {
    img {
      width: 100%;
      height: auto;
    }
  }
}
.back {background-color: #f2f2f2}

.to-slider {
  background: url("../img/prostok_t_4_1101.png") 100% 100% no-repeat;
  background-size: cover;
  background-position: center;
  margin: auto;
  height: 640px;
  color: white;
  .overv {
    margin: auto;
    padding-top: 59px;
    .wiz-line {
      color: #ffffff;
    }
    .wiz-line:before, .wiz-line:after {
      bottom: -29px;
    }
  }
  .slider {position: relative;margin: auto auto auto -1px;width: 1200px;}
  .slid {
    margin-left: 1px;
    .text-slid {
      font-family: 'Source Sans Pro - It', sans-serif;
      font-size: 24px;
      line-height: 32px;
      font-weight: 400;
      width: 95%;
    }
    padding: 116px 0 0 0;
    //margin-right: 1px;
    //width: 98%;
    p{margin: 0}
    .img {
      padding-top: 23px;
      display: flex;
      //width: 100%;
    }
    .slid-text {
      padding-left: 25px;
      //padding-top: 6px;
      width: 100%;
      p:first-child {
        font-size: 16px;
        line-height: 32px;
        font-weight: 400;
      }
      p:last-child {
        font-size: 14px;
        line-height: 22px;
        font-weight: 700;
        //letter-spacing: 0.15px;
      }
    }
  }
}
.slick-list {
  overflow: hidden;
  //width: 1200px;
  min-width: 100%;
}
.slick-track {
  display: flex;
  align-items: flex-start;
  margin: auto;
}
.slick-dots {
  width: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  position: absolute;
  bottom: -168px;
  left: 48.9%;
  right: 50%;
  //transform: translate(50%,0);
  [aria-label="1 of 1"]{
    display: none;
  }
  li {
    list-style: none;
    margin: 0 10px;
    height: 20px;
  }
  li.slick-active button {
    width: 14px;
    height: 14px;
    background-color: #ffffff;
  }
  button {
    font-size: 0;
    width: 8px;
    height: 8px;
    background-color: rgba(255,255,255,0.0);
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
  }
  button:hover {
    background-color: rgba(255,255,255,1);
  }
}
.back2 {background-color: #1a1a1a}
.aft-slide {
  p {margin: 0}
  .b-text {
    display: flex;
    font-size: 36px;
    line-height: 48px;
    font-weight: 600;
    color: #ffffff;
    padding-top: 59px;
    padding-bottom: 63px;
    span {
      font-weight: 300;
    }
  }
  .buttons {
    display: flex;
    margin-top: 60px;
    justify-content: flex-end;
    margin-left: 40px;
    //padding: 0;
    //margin-right: 10px;
    .button {
      width: 160px;
      height: 50px;
      background-color: #008ed6;
      border-radius: 3px;
      //box-shadow: 0 0 3px 0 rgba(3,3,3,0.1);
      font-size: 14px;
      line-height: 50px;
      font-weight: 700;
      text-transform: uppercase;
      color: #ffffff;
      text-align: center;
      //letter-spacing: normal;
      margin-left: 20px;
      letter-spacing: 0.2px;
      a {
        color: #ffffff;
        text-decoration: none;
      }
    }
    .button:first-child {
      width: 160px ;
      height: 50px ;
      //line-height: 49px;
      //border: 1px solid rgba(255,255,255,0.2);
      box-shadow: inset 0 0 0 1px rgba(255,255,255,0.2);
      background-color: rgba(0,142,214,0.0);
    }
    .button:hover {
      width: 160px;
      height: 50px;
      line-height: 50px;
      background-color: #008ed6;
      //border: 0 solid rgba(255,255,255,0.2);
      box-shadow: inset 0 0 0 0 rgba(255,255,255,0.2);
    }
  }
}
.for-prise {
  margin-top: 56px;
  .overv {
    margin: auto;
    .wiz-line:before, .wiz-line:after {
      bottom: -28px;
    }
  }
  .elem-col {
    padding: 0 0 0 0;
  }
  .prise {
    //max-width: 270px;
    box-shadow: inset 0 0 0 1px #e0e0e0;
    padding: 0;
    margin: 99px 15px 0 13px;
    .titl {
      padding-top: 2px;
      height: 68px;
      //text-align: center;
      font-size: 24px;
      //line-height: 20px;
      font-weight: 700;
      text-transform: uppercase;
      color: #1a1a1a;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .pris {
      box-shadow: inset 0 0 0 1px #e0e0e0;
      //display: flex;
      //align-items: center;
      //justify-content: center;
      //flex-direction: column;
      text-align: center;
      //text-align: start;
      p {
        margin: 0;
        display: flex;
        align-items: start;
        justify-content: center;
      }
      p:first-child {
        padding-top: 25px;
        font-size: 60px;
        //line-height: 20px;
        font-weight: 600;
        color: #1a1a1a;
        margin-left: -5px;
        span {font-size: 28px;
          padding-top: 12px;
        }
      }
      p:last-child {
        padding-bottom: 37px;
        font-size: 18px;
        line-height: 14px;
        font-weight: 400;
        color: #999999;
      }
    }
    .text-pr {
      padding: 28px 30px 28px 34px;
      text-align: center;
      font-size: 18px;
      line-height: 26px;
      font-weight: 400;
      color: #999999;
      span {color: #008ed6}
      button {
        margin-top: 22px;
        width: 202px;
        height: 52px;
        //background-color: #008ed6;
        border-radius: 3px;
        //box-shadow: 0 0 3px 0 rgba(3,3,3,0.1);
        font-size: 14px;
        line-height: 50px;
        font-weight: 800;
        text-transform: uppercase;
        color: #008ed6;
        text-align: center;
        //letter-spacing: normal;
        //margin-left: 20px;
        letter-spacing: 1px;
        //font-stretch: ultra-condensed;
        transform: scale(0.8,1);
        border: none;
        box-shadow: inset 0 0 0 1px #e0e0e0;
        background-color: rgba(0,142,214,0.0);
      }
    }
    button:hover {
      background-color: #008ed6;
      box-shadow: none;
      color: #fafafa;
      width: 200px;
      height: 50px;
      margin-top: 23px;
      margin-bottom: 1px;
    }
  }
  .elem-col:nth-child(3) {
    .titl {
      color: #008ed6;
    }
    .pris {
      background-color: #008ed6;
      box-shadow: none;
      p {
        color: #fafafa;
      }
    }
    button {
      background-color: #008ed6;
      box-shadow: none;
      color: #fafafa;
      width: 200px;
      height: 50px;
      margin-top: 23px;
      margin-bottom: 1px;
    }
  }
}
.contact {
  .overv {
    padding-top: 56px;
    .wiz-line:before, .wiz-line:after {
      bottom: -29px;
    }
  }
}
.labelu {
  text-align: center;
  padding: 88px 0 0 0;
  //padding-top: 88px;
  p {
    font-size: 18px;
    //line-height: 26px;
    font-weight: 400;
    color: #999999;
    margin: 0 0 3px -5px;
  }
  img {
     margin-bottom: 23px;
   }
}
.labelu:nth-child(2) {
  p {
    margin: 0 0 3px -1px;
  }
}
.labelu:last-child {
  padding: 93px 0 0 0;
  p {
    margin: 5px 0 3px -1px;
  }
}
.back3 {
  background-color: #ededed;
  z-index: 1;
}
$pad: 2px;
.form {
  z-index: 3;
  margin: auto;
  width: 770px;
  height: 360px;
  background-color: #15141a;
  padding: 0;
  margin-top: 68px;
  .form-group {
    margin-top: 39px;
    padding: 0;
    .form-control {
      display: flex;
      flex-direction: column;
      height: 50px;
      width: 300px - $pad;
      background-color: rgba(0,142,214,0.0);
      box-shadow: inset 0 0 0 1px rgba(255,255,255,0.2);
      //border: 1px solid rgba(255,255,255,0.2);
      border: none;
      text-transform: uppercase;
      margin: 20px 0 20px 65px;
      padding: 0 0 0 $pad;
      //letter-spacing: 0.5px;
    }
    .form-control::placeholder {
    opacity: 0.2;
    font-size: 14px;
    line-height: 48px;
    font-weight: 600;
    color: #ffffff;
      letter-spacing: -0.3px;
      transform: scale(0.9,1);
  }
    $pad2: 1px;
    $pad3: 21px;
    .textarea {
      height: 190px - $pad2;
      width: 300px - $pad3;
      resize: none;
      padding-top: $pad2;
      padding-left: $pad3;
      margin: 20px 0 20px 0;
    }
    .textarea::placeholder {
      transform: scale(1,1);
    }
    .button {
      width: 180px;
      height: 50px;
      background-color: #008ed6;
      border-radius: 3px;
      //box-shadow: 0 0 3px 0 rgba(3,3,3,0.1);
      border: none;
      font-size: 14px;
      //line-height: 50px;
      font-weight: 600;
      text-transform: uppercase;
      color: #ffffff;
      text-align: center;
      //letter-spacing: normal;
      margin-left: 130px;
      margin-top: 1px;
      letter-spacing: -0.2px;
      transform: scale(0.88,1);
    }
  }
}
.map {
  position: relative;
}
iframe {
  width: 100%;
  z-index: 2;
  position: absolute;
  top: -65px;
  height: 490px;
}
.footer {
  position: relative;
  background-color: #15141a;
  height: 160px;
  z-index: 3;
  bottom: -306px;
  .in-foot {
    position: absolute;
    top: 50%;
    color: #444348;
    text-align: center;
    left: 50%;
    transform: translate(-50%,-50%);
    //width: 220px;
  }
  .label {
    margin-top: 40px;
    margin-bottom: -5px;
    font-size: 18px;
    //letter-spacing: 2px;
    font-weight: 600;
    text-transform: uppercase;
    color: #444348;
    //padding-inline: 10px;
    //display: flex;
    //justify-content: space-around;
    .fab {
      padding: 0 12px 0 15px;
      width: 19px;
      //margin-left: 10px;
    }
    .fa-twitter {
      color: #008ed6;
    }
    .fa-behance {
      //padding: 0 12px 0 15px;
      //letter-spacing: -2px;
    }
    .fa-linkedin-in {
      font-size: 20px;
    }
  }
  .copy {
    //margin: 1px 0;
    font-size: 14px;
    line-height: 48px;
    font-weight: 600;
    text-transform: uppercase;
  }
}

@media (min-width: 1200px){
.container {
  max-width: 1170px;
}
}
@media (max-width: 1230px) {
  .foto2 {
    img {
      width: 100%;
      height: auto;
    }
  }
  .foto {
    img {
      width: 100%;
      height: auto;
    }
  }
  .to-slider {
    .slider {
      width: 100%;
      .slid {margin-left: 1px;}
      //.text-slid {
      //  //width: 100%;
      //  margin-right: 10px;
      //}
    }
  }
}
@media (max-width: 1200px) {
  .list-id {
    padding-bottom: 25px;
  }
  .aft-slide {
    .buttons {
      margin-top: 0;
      align-items: center;
    }
  }
  .for-prise .prise .text-pr button {
      width: auto;
      height: auto;
    padding-inline: 25px;
    }
  }

@media (max-width: 991px) {
  .details {
    .foto2 {padding: 0}
    .to-text {
      padding: 0;
      margin-left: 0;
    }
  }
  .slider {
    .slid {
      .text-slid {
        text-align: center;
      }
      .img {
        justify-content: center;
        .slid-text {width: auto}
      }
    }
  }
  .aft-slide {
    .b-text {
      justify-content: center;
      text-align: center;
    }
    .buttons {
      margin: 0;
      padding-bottom: 45px;
        .button:first-child {
          margin: 0 15px 0 auto;
        }
        .button:last-child {
          margin: 0 auto 0 15px;
        }
    }
  }
}

.burger {display: none}
//.back1 {display: none}
@media (max-width: 767px) {
  $pa: 100px;
  header {
    height: auto;

    .menus {
      position: fixed;
      left: 0;
      //padding-inline: 25px;
      width: 100%;
      z-index: 3;
      background-color: rgba(0, 0, 0, 0.5);
      padding-bottom: 20px;
    }

    .logo {
      margin-left: $pa
    }

    //height: 75px;
    .right {
      position: relative;
      margin: 0 $pa 0 auto;

      .menu {
        justify-content: center;
      }
    }

    .burger {
      margin-left: auto;
      display: block;
      position: relative;
      width: 40px;
      height: 30px;
      cursor: pointer;
      background-color: #15141a;
      border-radius: 3px;
      z-index: 5;

      span {
        background-color: white;
        position: absolute;
        width: 20px;
        height: 2px;
        right: 50%;
        top: 14px;
        transform: translate(50%, 50%);
      }
    }

    .burger:before,
    .burger:after {
      content: '';
      background-color: white;
      position: absolute;
      width: 20px;
      height: 2px;
      right: 50%;
      transform: translate(50%, 50%);
    }

    .burger:before {
      top: 8px
    }

    .burger:after {
      bottom: 8px
    }

    .menu {
      position: fixed;
      top: -100%;
      transition: all 0.3s ease 0s;
      left: 0;
      width: 100%;
      background-color: #15141a;
      padding: 75px 0 0 0;
      z-index: 4;
      justify-content: center;

      ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 0;

        li {
          padding: 15px;
        }
      }
    }

    .menu.active {
      top: 0;
      transition: all 0.5s ease 0s;
    }
  .foto {
    padding-top: 80px;
  }
  .left-haed {
    padding-top: 20px;
    text-align: center;

    .buttons {
      .button:first-child {
        margin: 0 15px 0 auto;
      }
      .button:last-child {
        margin: 0 auto 0 15px;
      }
    }
  }
}
  .list-id {
    padding-bottom: 25px;
  }
}



