body{
    font-family: 'PT Sans', sans-serif;
    line-height: 22px;
    font-size: 14px;
    margin: 0;
}
.wid{
    /*width: 100%;*/
    width: 1400px;
    /*width: 980px; + padding: 10px;*/

}
#header{
    margin-bottom: auto;
    display: flex;
    width: 1400px;
    height: 230px;
    background-color: lightgray;
}
.in{
    margin: auto;
    display: flex;
    width: 980px;
    /*padding: 10px;*/
}
#name{
    margin: auto auto auto 0;
    height: 100px;
    width: 273px;
    display: flex;
    justify-content: space-between;
    color: #767676;
}
#name img{
    height: 100px;
    width: 100px;
}
#name p{
    /*padding: 9px;*/
    margin: 0;
}
#name p:first-child{
    margin: 0;
    font-size: 30px;
    font-weight: 999;
    line-height: 22px;
}
#name div{
    margin: 0;
    width: 163px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#number{
    margin: auto 0 auto auto;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 40px;
    line-height: 46px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #767676;
}
#number p{
    margin: 0;
}

#menu{
    margin-bottom: auto;
    background-color: darkgrey;
}
#menu ul{
    margin: auto;
    list-style-type: none;
    /*padding: 0;*/
    display: flex;
    justify-items: center;
    padding: 25px;
}
#menu li{
    list-style-type: "|";
    padding-inline: 25px;
}
#menu li:first-child{
    list-style-type: none;
}

#slider{
    margin-bottom: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    /*Частина зображення, яка виходить
     за межі блоку і вікна браузера, повинна ховатися */

 }

#content{
    margin: auto 0 auto 0;
}

#footer{
    margin-top: auto;
}



@font-face {
    font-family: 'Open Sans Condensed', sans-serif;
    font-family: 'PT Sans', sans-serif;
}
